<div class="row">
  <div class="col"></div>
  <div class="col-12 col-md-11 col-lg-11 margin-class-1">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Budget</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Team</a>
        <svg
          class="svg-of-nine"
          xmlns="http://www.w3.org/2000/svg"
          id="Layer_1"
          data-name="Layer 1"
          viewBox="0 0 122.88 122.88"
        >
          <defs>
            <style>
              .cls-1 {
                fill-rule: whte;
              }
              .cls-2 {
                fill: black;
              }
            </style>
          </defs>
          <title>nine-number-round</title>
          <path
            class="cls-1"
            d="M61.44,0A61.46,61.46,0,1,1,18,18,61.21,61.21,0,0,1,61.44,0Z"
          />
          <path
            class="cls-2"
            d="M60.68,37.88a22.61,22.61,0,0,1,7.57,1.26,17,17,0,0,1,6.32,4,18.75,18.75,0,0,1,4.33,7.1,31.62,31.62,0,0,1,1.59,10.59A33.77,33.77,0,0,1,79.06,70.9a22.39,22.39,0,0,1-4,7.63,17.37,17.37,0,0,1-6.26,4.8A19.48,19.48,0,0,1,60.6,85a19.35,19.35,0,0,1-8.9-2,16.1,16.1,0,0,1-6.12-5.21,15.13,15.13,0,0,1-2.65-7.3H55.15a4.45,4.45,0,0,0,2,3,6.66,6.66,0,0,0,3.49.92,6,6,0,0,0,5.73-3.4A19.35,19.35,0,0,0,68.18,62h-.26a9.56,9.56,0,0,1-2.64,3.6,12.87,12.87,0,0,1-4.11,2.29,15.29,15.29,0,0,1-5,.8A13.77,13.77,0,0,1,49,66.8a12.8,12.8,0,0,1-4.87-5.13,15.52,15.52,0,0,1-1.72-7.46,15.17,15.17,0,0,1,8.74-14.28,21.2,21.2,0,0,1,9.55-2Zm.1,9.37a6.37,6.37,0,0,0-3.29.85,5.86,5.86,0,0,0-2.26,2.32,7.48,7.48,0,0,0,0,6.69,6,6,0,0,0,2.26,2.32,6.37,6.37,0,0,0,3.29.85,6.49,6.49,0,0,0,2.51-.49,6.26,6.26,0,0,0,2-1.37,6.36,6.36,0,0,0,1.33-2.06,7.07,7.07,0,0,0,.5-2.59,6.72,6.72,0,0,0-.85-3.35A6,6,0,0,0,64,48.1a6.25,6.25,0,0,0-3.23-.85Z"
          />
        </svg>
      </li>
    </ul>
  </div>
  <div class="col"></div>
</div>

<div class="row margin-class-1">
  <div class="col-12">
    <div class="row margin-class-2">
      <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-5 mb-lg-0 clickable-class" (click)="goToListingPage()">
        <div class="col-xxl-12 small-bar">
          <div class="row">
            <div class="col-4 col-md-4 col-lg-3 text-1">Summary</div>
            <div class="col-6">
              <span class="t-1">21</span><br />
              <span class="t-2">Due Tasks</span><br />
              <span class="t-3">Completed: 13</span>
            </div>
            <div class="col-1">
              <svg
                class="ellipses"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                id="Layer_1"
                x="0px"
                y="0px"
                width="29.957px"
                height="122.88px"
                viewBox="0 0 29.957 122.88"
                enable-background="new 0 0 29.957 122.88"
                xml:space="preserve"
              >
                <g>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M14.978,0c8.27,0,14.979,6.708,14.979,14.979c0,8.27-6.709,14.976-14.979,14.976 C6.708,29.954,0,23.249,0,14.979C0,6.708,6.708,0,14.978,0L14.978,0z M14.978,92.926c8.27,0,14.979,6.708,14.979,14.979 s-6.709,14.976-14.979,14.976C6.708,122.88,0,116.175,0,107.904S6.708,92.926,14.978,92.926L14.978,92.926z M14.978,46.463 c8.27,0,14.979,6.708,14.979,14.979s-6.709,14.978-14.979,14.978C6.708,76.419,0,69.712,0,61.441S6.708,46.463,14.978,46.463 L14.978,46.463z"
                  />
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-5 mb-lg-0">
        <div class="col-xxl-12 small-bar">
          <div class="row">
            <div class="col-4 col-md-4 col-lg-3 text-1">Overdue</div>
            <div class="col-6">
              <span class="t2-1">17</span><br />
              <span class="t2-2">Tasks</span><br />
              <span class="t2-3">From yesterday: 9</span>
            </div>
            <div class="col-1">
              <svg
                class="ellipses"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                id="Layer_1"
                x="0px"
                y="0px"
                width="29.957px"
                height="122.88px"
                viewBox="0 0 29.957 122.88"
                enable-background="new 0 0 29.957 122.88"
                xml:space="preserve"
              >
                <g>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M14.978,0c8.27,0,14.979,6.708,14.979,14.979c0,8.27-6.709,14.976-14.979,14.976 C6.708,29.954,0,23.249,0,14.979C0,6.708,6.708,0,14.978,0L14.978,0z M14.978,92.926c8.27,0,14.979,6.708,14.979,14.979 s-6.709,14.976-14.979,14.976C6.708,122.88,0,116.175,0,107.904S6.708,92.926,14.978,92.926L14.978,92.926z M14.978,46.463 c8.27,0,14.979,6.708,14.979,14.979s-6.709,14.978-14.979,14.978C6.708,76.419,0,69.712,0,61.441S6.708,46.463,14.978,46.463 L14.978,46.463z"
                  />
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-5 mb-lg-0">
        <div class="col-xxl-12 small-bar">
          <div class="row">
            <div class="col-4 col-md-4 col-lg-3 text-1">Issues</div>
            <div class="col-6">
              <span class="t3-1">24</span><br />
              <span class="t3-2">Open</span><br />
              <span class="t3-3">Created today: 19</span>
            </div>
            <div class="col-1">
              <svg
                class="ellipses"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                id="Layer_1"
                x="0px"
                y="0px"
                width="29.957px"
                height="122.88px"
                viewBox="0 0 29.957 122.88"
                enable-background="new 0 0 29.957 122.88"
                xml:space="preserve"
              >
                <g>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M14.978,0c8.27,0,14.979,6.708,14.979,14.979c0,8.27-6.709,14.976-14.979,14.976 C6.708,29.954,0,23.249,0,14.979C0,6.708,6.708,0,14.978,0L14.978,0z M14.978,92.926c8.27,0,14.979,6.708,14.979,14.979 s-6.709,14.976-14.979,14.976C6.708,122.88,0,116.175,0,107.904S6.708,92.926,14.978,92.926L14.978,92.926z M14.978,46.463 c8.27,0,14.979,6.708,14.979,14.979s-6.709,14.978-14.979,14.978C6.708,76.419,0,69.712,0,61.441S6.708,46.463,14.978,46.463 L14.978,46.463z"
                  />
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-5 mb-lg-0">
        <div class="col-xxl-12 small-bar">
          <div class="row">
            <div class="col-4 col-md-4 col-lg-3 text-1">Features</div>
            <div class="col-6">
              <span class="t4-1">38</span><br />
              <span class="t4-2">Proposals</span><br />
              <span class="t4-3">Implemented: 16</span>
            </div>
            <div class="col-1">
              <svg
                class="ellipses"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                id="Layer_1"
                x="0px"
                y="0px"
                width="29.957px"
                height="122.88px"
                viewBox="0 0 29.957 122.88"
                enable-background="new 0 0 29.957 122.88"
                xml:space="preserve"
              >
                <g>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M14.978,0c8.27,0,14.979,6.708,14.979,14.979c0,8.27-6.709,14.976-14.979,14.976 C6.708,29.954,0,23.249,0,14.979C0,6.708,6.708,0,14.978,0L14.978,0z M14.978,92.926c8.27,0,14.979,6.708,14.979,14.979 s-6.709,14.976-14.979,14.976C6.708,122.88,0,116.175,0,107.904S6.708,92.926,14.978,92.926L14.978,92.926z M14.978,46.463 c8.27,0,14.979,6.708,14.979,14.979s-6.709,14.978-14.979,14.978C6.708,76.419,0,69.712,0,61.441S6.708,46.463,14.978,46.463 L14.978,46.463z"
                  />
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row margin-class-3">
  <div class="row">
    <div class="col-2 col-md-4 col-lg-4 summary">Github Issues Summary</div>
    <div class="col-1 col-md-1 col-lg-4"></div>
    <div class="col-9 col-md-7 col-lg-4">
      <div class="row">
        <div class="col-4 col-md-4 col-lg-4"></div>
        <div class="col-3 col-md-3 col-lg-3">
          <span class="last-week">Last Week</span>
        </div>
        <div class="col-5 col-md-5 col-lg-5">
          <button type="button" class="btn my-button">This Week</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12 col-lg-6">
      <img src="../../../assets/images/my-chart.JPG" class="chart" />
    </div>
    <div class="col-12 col-md-12 col-lg-6">
      <span class="overview">Overview</span>
      <div class="row">
        <div class="col-6">
          <div class="row small-bar-2">
            <div class="row">
              <div class="col-3 col-md-4 col-lg-3"></div>
              <div class="col-6">
                <span class="tx-1">214</span><br />
                <span class="tx-2">New Issues</span>
              </div>
              <div class="col-1"></div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row small-bar-2">
            <div class="row">
              <div class="col-3 col-md-4 col-lg-3"></div>
              <div class="col-6">
                <span class="tx2-1">75</span><br />
                <span class="tx2-2">Closed</span>
              </div>
              <div class="col-1"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <div class="row small-bar-2">
            <div class="row">
              <div class="col-3 col-md-4 col-lg-3"></div>
              <div class="col-6">
                <span class="ty-1">3</span><br />
                <span class="ty-2">Fixed</span>
              </div>
              <div class="col-1"></div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="row small-bar-2">
            <div class="row">
              <div class="col-3 col-md-4 col-lg-3"></div>
              <div class="col-6">
                <span class="ty2-1">4</span><br />
                <span class="ty2-2">Won't Fix</span>
              </div>
              <div class="col-1"></div>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="row small-bar-2">
            <div class="row">
              <div class="col-3 col-md-4 col-lg-3"></div>
              <div class="col-6">
                <span class="ty3-1">8</span><br />
                <span class="ty3-2">Re-opened</span>
              </div>
              <div class="col-1"></div>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="row small-bar-2">
            <div class="row">
              <div class="col-3 col-md-4 col-lg-3"></div>
              <div class="col-6">
                <span class="ty4-1">6</span><br />
                <span class="ty4-2">Needs Triaged</span>
              </div>
              <div class="col-1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
